<div>
	<div>
		<%= @user.full_name%>, your account password reset has been sent to this email. Please click the link below or copy the url.
	</div>
	<h3><%= link_to "Ruby on Rails Workout", root_url %></h3>
	<div>
		<p>To change your password just click <%= link_to "here", edit_password_url(@user.perishable_token) %> and you will be taken to the Ruby on Rails workout web site were you will be asked to type your new password.</p>
		<p>However if you were not able to click the link above you just need to copy and past this url into your browser and hit return or enter: <%= edit_password_url(@user.perishable_token) %></p>
		<p>Thank you for using Ruby on Rails workout! </p>
		<p>
			-- The Brandt Team
		</p>
	<div/>
	<div>
		Created By <%= link_to "Brandt Lareau", "http://www.facebook.com/brandtlareau" %>
	</div>
</div>