<h2>Email: <%= @user.email %></h2>
<p>If this is not you please don't change the password and notify the admin. However if this is you go ahead and type your new password you would like to use.</p>
<%= form_for @user, :url => update_password_account_path, :method => :post do |f| %>
	<%= errors(@user) %>
	<div class="input">
		<%= f.label :password, f.object.new_record? ? nil : "Change password" %>
		<%= f.password_field :password, :class => 'text-input small-input', :placeholder => "Password" %>
	</div>
	<div class="input">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => 'text-input small-input', :placeholder => "Password Confirmation" %>
	</div>
	<%= hidden_field_tag :perishable_token, @user.perishable_token %>
	<%= f.submit "Update Password", :class => :button %>
<% end %>